
@{
    ViewData["Title"] = "ResetPassword";
}

<h1>ResetPassword</h1>

@model ResetPasswordViewModel


<hr />
@if (TempData["SuccessMessage"] is string successMessage)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @successMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="row">

    <div class="col-md-4">
        <h4>Şifre yenileme linki, e-posta adresinize gönderilecektir.</h4>
        <form asp-action="ResetPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
           
            <div class="form-group mt-3">
                <input type="submit" value="Send" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
